@import 'tailwindcss';


/*:root {
  --ladoc-color-text-primary: #1f8a4c;
  --ladoc-color-text-underline: #bfe4cd;
  --ladoc-color-text: #1a1a1a;
  --ladoc-color-background: #f6f6f6;
  --ladoc-color-card: #ffffff;
  --ladoc-color-muted-foreground: #6b6b6b;
  --ladoc-color-muted: #ececec;
  --ladoc-color-blockquote-border: #2fa860;
  }*/
