@import '../../../variables.css';

.default {
  color: var(--_ladoc-color-text);
  width: 100%;
  flex: 1;
  padding: 0 2em;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .default {
    padding: 0 1em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .default {
    padding: 0 1.5em;
  }
}
