@import '../../variables.css';

.default {
  display: flex;
  flex: 1;
  min-height: calc(100vh - var(--_ladoc-header-height));
}

@media (max-width: 768px) {
  .default {
    flex-direction: column;
  }
}
